<!-- TODO 3 -->
<h1 class="title">List all posts</h1>
<main class="container">
  <div class="card" *ngFor="let post of posts">
    <button
      class="category"
      [ngStyle]="{ 'background-color': category.css_color }"
      *ngFor="let category of post.categories"
    >
      {{ category.title }}
    </button>
    <h2>Title</h2>
    <h3>{{ post.title }}</h3>
    <p>
      Description: <span>{{ post.description }}</span>
    </p>
    <p>
      Likes: <span>{{ post.num_likes }}</span>
    </p>
    <p>
      Dislikes: <span>{{ post.num_dislikes }}</span>
    </p>
    <p>
      Publication date: <span>{{ post.publication_date | formatDate: 3 }}</span>
    </p>
    <p>
      Published by: <span>{{ post.userAlias }}</span>
    </p>
    <div *ngIf="showButtons">
      <button (click)="like(post.postId)">Likes</button>
      <button (click)="dislike(post.postId)">Dislikes</button>
    </div>
  </div>
</main>
